# Auto detect text files and perform LF normalization
# borrowed from: https://github.com/pester/Pester/blob/v5.0/.gitattributes
* text=auto eol=crlf
*.ps1 text
*.psm1 text
*.psd1 text
*.ps1xml text
*.md text
*.feature text
*.xsd text
*.dtd text
*.nuspec text
*.dll binary
*.PNG binary
